 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    background-color: yellow;
} 
li{
    color: blue;
}
nav{
    width: 80%;
    display: inline-block;
}
nav img {
    width: 10%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    row-gap: 10px;
  justify-content: center;
  align-items: center;
    
}
.grid img {
    width: 100%;
}
